<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script>

  </script>

  <title>LoFun</title>
</head>
<body>

  <%- include topbar.ejs %>


  <!-- Begin page content -->
    <div class="container">         
      <div class="row">
        <div class="col">
          <h4>일반 Funding</h4>          
          <h5>일정 금액과 기간을 정하여 모금을 진행 합니다.</h5>
          <button type="button"  id="raisefund0" class="btn btn-primary btn-lg btn-block">펀딩하기</button>
        </div>
      </div>

      <div class="row">
      </div>

      <div class="row">
        <div class="col">
          <h4>지분형 Funding</h4>
          <h5>단위 참여 금액에 따라 지분을 배정하여 향후 수혜자가 지분에 따라 보상을 하게 됩니다.</h4>
          <button type="button" id="raisefund1" class="btn btn-primary btn-lg btn-block">펀딩하기</button>
        </div>
      </div>

      <div class="row">
      </div>

      <div class="row">
        <div class="col">
          <h4>연속형 Funding</h4>
          <h5>기간과 금액이 정해지지 않고 계속 진행되는 Fund로 수혜자는 일정기간동안 일정 금액만 인출 가능하며 투자자는 기간에 따라 투자금액의 일부를 회수 가능 합니다.</h5>
          <button type="button"  id="raisefund2"class="btn btn-primary btn-lg btn-block">펀딩하기</button>
        </div>
      </div>
    </div>

  <%- include footer.ejs %>  

  <!-- JavaScript -->
  <script type="text/javascript">

    $(document).ready(function(){
        $("#raisefund0").click(function(){
          $(this).button('toggle');
            alert("raisefund0");
        });
    });
  </script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>
</html>